<div class="panel-heading">
  <h4 class="title">New User</h4>
</div>
<div class="panel-body">
<%= form_tag('main/create_user', id: "new-user", remote: true, class: "form-stacked") do %>
  <div class="form-group">
    <%= label_tag :name %><br>
    <%= text_field_tag :name, "", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :age %><br>
    <%= number_field_tag :age, "", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :date_of_birth %><br>
    <%= text_field_tag :date_of_birth, "", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :height %><br>
    <%= text_field_tag :height, "", class: "form-control" %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit", class: "user-submit btn btn-default" %>
  </div>
<% end %>
</div>
