<%= form_tag(create_user_path, id: "new-user", remote: true) do %>
  <div class="field">
    <%= label_tag :name %><br>
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag :age %><br>
    <%= number_field_tag :age %>
  </div>
  <div class="field">
    <%= label_tag :date_of_birth %><br>
    <%= text_field_tag :date_of_birth %>
  </div>
  <div class="field">
    <%= label_tag :height %><br>
    <%= text_field_tag :height %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit", class: "user-submit" %>
  </div>
<% end %>
